form {
  margin-bottom: 2rem;
}

mat-form-field,
.form-div {
  width: 400px;
}

.image-form {
  margin-bottom: 20px;
}

mat-icon.invalid {
  color: red;
}

mat-icon.valid {
  color: green;
}

textarea {
  resize: none !important;
}