<form 
    (ngSubmit)="login()" 
    [formGroup]="form" 
    fxLayout="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="20px">
  <mat-form-field appearance="legacy" fxFlexOffset="40px">
    <mat-label>Email</mat-label>
    <input matInput placeholder="example@gmail.com" formControlName="email">
    <mat-hint>Please enter a valid email</mat-hint>
    <mat-icon *ngIf="email.touched && email.valid" class="valid" matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-icon *ngIf="email.touched && email.invalid" class="invalid" matSuffix>sentiment_very_dissatisfied</mat-icon>
    <mat-error *ngIf="email.hasError('required')">Email is required.</mat-error>
    <mat-error *ngIf="email.hasError('email')">Email is invalid.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <mat-label>Password</mat-label>
    <input matInput placeholder="S3cuRedPa55" type="password" formControlName="password">
    <mat-hint>Please enter a password (6-15 symbols)</mat-hint>
    <mat-icon *ngIf="password.touched && password.valid" class="valid" matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-icon *ngIf="password.touched && password.invalid" class="invalid" matSuffix>sentiment_very_dissatisfied</mat-icon>
    <mat-error *ngIf="password.hasError('required')">Password is required.</mat-error>
    <mat-error *ngIf="password.hasError('pattern')">Password must be between 6 and 15 symbols.</mat-error>
  </mat-form-field>

  <button [disabled]="form.invalid" mat-raised-button type="submit" color="primary">Login</button>
</form>
<p class="text-center">Don't have an account? <a routerLink="/user/register" routerLinkActive="active">Register</a> </p>
